
<div class="container">
    <div class=row>
        <div class="col-md-1"></div>
        <div class="col-md-8 col-sm-12">
            <h2>¿Qué comer en Madrid?</h2>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class=row>
    
        <div class="col-md-5 ">
            <ul >
                <li *ngFor="let plato of platos" > 
                    <a routerLink="/gastro_detalle" [queryParams]="{idParam:plato.id}"> 
                        {{plato.data.nombre | titlecase}}
                        <!--: {{plato.id}}-->
                        <span  [ngStyle]="{'float':'right'}" *ngIf="autenticado" >
                            Editar
                         </span>
                    </a>

                </li>
       
            </ul>
        </div>
        <div class="col-md-6 imagenfondo">
            
        </div>
        <div class="col-md-1"></div>
    </div>
    
</div>

